/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top-header, a {
  display: flex;
  justify-content: space-between;
  color: #242332;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

.site-name a {
  
  float: left;
  font-size: xx-large;
  font-weight: 700;
}

#tools a{
  float: right;
  color: black;
  padding: 5px 10px;
  transition: .15s;
  margin: 2px;
}

#tools a:hover {
  background-color: #242332;
  color: white;
  transition: .15s;
    
}

/* NAVBAR */
.navbar {
  max-width: inherit;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
nav ul {
  background-color: #242332;
  list-style: none;
  padding-left: 0px;
}
nav a {
  padding: 12px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: #07b2d3;
  color: #242332;
}
.welcome {
  text-align: left;
}


/* HERO BOX */
.hero-text h3 {
  margin-bottom: 0px;
}
.hero-text p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.hero-text button {
  margin-top: 0px;
}


#hero-image {
  width: 100%;
}



.container {
  position: relative;
  padding: 5px;
  /* background-color: grey; */
}


.hero-text {
  color: #07b2d3;
  position: absolute;
  bottom: 70px;
  text-align: left;
  font-size:small;
  font-weight: bold;
  /* background-color: white; */
  

  
}
.container .hero-text  {
  background: rgba(255, 255, 255, 0.6);
  height: fit-content;
  /* padding: ; */
}


.container button {
  /* position: inherit; */
  /* left: 10px; */
  background-color: #07b2d3;
  color: black;
  font-weight: 900;
  border: 1px solid grey;
  box-shadow: 1px .5px black;
  padding: 6px;
  
}



/* DELOREAN REVIEWS */
.delorean-reviews {
  text-align: left;
}
.delorean-reviews ul {
  padding: 15px;
}
.delorean-reviews li {
  margin: 10px;
}

.delorean-upgrades, .delorean-reviews {
  width: 100%;
}

/* DELOREAN UPGRADES */
.delorean-upgrades h2 {
  text-align: left;

  
}

.upgrade-cards-container {
  height: auto;
  /* width: 100%; */
  display: grid;
  /* gap: 10px; */
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  align-content: space-between;
  

}

.upgrade-cards-container a {
  justify-content: center;
  padding-top: 0;
  text-decoration: underline;
  color: #0000EE;
  
}

.upgrade-cards-container div img {
  background-color: #07b2d3;
  padding: 10px 40px 10px 40px;
  height: 100px;
  width: 150px;
  border: 1px solid grey;
}



/* INVENTORY DISPLAY */
#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr  ;
  gap: 15px;
  list-style: none;
  padding-left: 0;
  margin: 15px;
  justify-content: space-evenly;
  
  
  
}

.inv-card {
  border: 2px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  
}

/* .inv-container{
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

#inv-display img {
  width: 100%;
}

.namePrice h2 a {
  justify-content: center;

}


hr {
  border: 5px solid #242332;
  width: 100%;
}

.namePrice {
  font-size: .8em;
}
.namePrice span {
  font-size: 1.4em
}


/* VEHICLE VIEW */
.vehicle-content {
  padding: 20px 0px 50px 0px;

}

.vehicle-content img {
  padding: 10px;
  height: auto;
  width: 100%;

}

.vehicle-details {
  font-size: 1.2em;
  padding: 10px;
}

/* FOOTER DETAILS */
.error-link {
  justify-content: center;
  text-decoration: underline;
  color: #0000EE;
}

/* Unit 4 Assignment */
.notice {
  color: red;
  text-align: left;
  font-style: italic;
}


/* LOGIN AND REGISTER PAGES */
.login-title {
  font-size: 2.2em;
}
.form-box {
  display: grid;
  grid-template-columns: 100%;
  background-color: #07b2d3;
  text-align: left;
  padding: 25px;
  margin: 8%;
  max-width: 600px;
  /* box-shadow: 2px 2px 5px #242332; */
}
.form-box div {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.fname {
  font-size: 1.2em;
  padding: 10px 0px 10px 0px;
}
.lname {
  font-size: 1.2em;
  padding: 10px 0px 10px 0px;
}
.email {
  font-size: 1.2em;
  padding: 10px 0px 10px 0px;
}
.password {
  font-size: 1.2em;
  padding: 10px 0px 10px 0px;
}

form input {
  margin-top: 8px;
  font-size: 14px;
  border: none;
  padding: 6px;
}
.form-btn {
  background-color: white;
  margin-top: 15px;
  padding: 5px 20px 5px 20px;
  border: none;
  font-size: 1rem;
  transition: .15s;
}
.form-btn:hover {
  background-color: #242332;
  color: white;
  transition: .15s;
}

.register {
  padding-top: 20px;
  font-size: 1em;
  display: flex;
}
.register a {
  text-decoration: underline;
  transition: .15s;
}
.register a:hover {
  color: white;
  transition: .15s;
}
.password p {
  font-size: 15px;
}

/* *********************
* INPUT VALIDATION STYLING
************************ */
input:required:invalid, input:focus:invalid {
  /* Invalid input */
  border: 2px solid red;
  background-color: rgb(245, 205, 205);
  
}
textarea:required:invalid, textarea:focus:invalid {
  /* Invalid input */
  border: 2px solid red;
  background-color: rgb(245, 205, 205);
  
}

/* Use this to change the color of what the input looks like. */
input:required:valid {
  border: 2px solid green;
  background-color: rgb(210, 244, 210);
}
textarea:required:valid {
  border: 2px solid green;
  background-color: rgb(210, 244, 210);
}

/* *********************
* ADD INVENTORY FORM BOX
************************ */
textarea {
  resize: vertical;
  min-height: 300px;
  /* max-height: auto; */
  font-size: 1.15em;
  
  
}
.inv-label label {
  font-size: 1.2em;
}

select {
  background-color: white;
  margin-top: 15px;
  padding: 5px 20px 5px 5px;
  border: none;
  font-size: 1rem;
  transition: .15s;
}
select:hover{
background-color: #242332;
color: white;
transition: .15s;
}

/* *********************
* ADD MANAGEMENT FORM BOX
************************ */
.management {
  display: grid;
  gap: 14px;
  background-color: #07b2d3;
  text-align: center;
  padding: 40px;
  margin: 8%;
  max-width: 400px;
}
.management a {
  font-size: larger;
  background-color: white;
  padding: 5px;
  justify-content: center;
  transition: .15s;
}
.management a:hover {
  background-color: #242332;
  color: white;
  transition: .15s;
}

/* ******************************
* ACCOUNT MANAGEMENT
********************************* */
.account-management {
  background-color: #07b2d3;
  margin: 40px auto;
  max-width: 400px;
  padding: 10px 10px 30px 10px;
  
}

.account-management a {
  background-color: white;
  margin: 0 auto;
  font-size: larger;
  color: black;
  width: fit-content;
  padding: 10px 20px;
}

.account-management a:hover {
  font-size: larger;
  color: white;
  transition: .15s;
  background-color: #242332;
}



/* ******************************
* Manage Inventory - Table
********************************* */
.manage-inventory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
.manage-inventory td a {
  padding: 5px 20px;
  border: 1px solid #24233255;
  transition: .15s;
}
.manage-inventory td a:hover {
  background-color: #242332;
  color: white;
  transition: .15s;
}
.manage-inventory td {
  font-size: larger;
  text-align: left;
  padding-right: 10px;
}
.manage-inventory th {
  font-size: larger;
}
.select-list select {
  border: 1px solid #24233255;
  padding: 5px 10px;
}



/* ******************************
* Removing the number arrows on the number inputs
********************************* */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* ******************************
* INBOX MESSAGE TABLE
********************************* */
.message-list {
  font-size: .8em;
  border: 1px solid #24233221;
  padding: 2px;
  margin: 0 auto;
}
.message-list th {
  color: white;
  background-color: #242332;
  padding: 5px 15px;
}
.message-list tr {
  border: none;
  transition: .15s;
}
.message-list td {
  padding: 0px 10px;
  border: none;
}
.message-list tr:nth-child(even) {
  background-color: #e9e9e9;
}
.message-list tr:nth-child(odd) {
  background-color: rgb(250, 250, 250);
}
.message-list tr:hover {
  background-color: #c5c5c5c4;
  box-shadow: 0px 0px 10px #24233255;
  transition: .15s;
}


/* MESSAGE VIEW */
.message-container {
  text-align: left;
}
.message-hr {
  border: 1px solid #242332;
  width: 100%;
}
.message-options {
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
.message-button {
  background-color: white;
  margin: 0 auto;
  color: black;
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid #2423322a;
  border-radius: 5px;
  font-size: medium;
  transition: .15s;
}
.message-button:hover {
  color: white;
  transition: .15s;
  background-color: #242332;
}
.inbox-link {
  background-color: #242332;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border: 0px;
  transition: .15s;
}
.inbox-link:hover {
  color: black;
  transition: .15s;
  background-color: #07b2d3;
}

/* MESSAGE REPLY */
.message-body {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media only screen and (max-width: 1200px) {
  
  div .content {
    max-width: 1450px;
    display: flex;
    flex-wrap: wrap;
  }

  /* .hero-text p {
    font-size: 1.5vw;
  } */
}


@media only screen and (min-width: 900px) {
  html {
    background-image: url(https://github.com/blainerobertson/cse340starter/blob/main/public/images/site/checkerboard.jpg?raw=true);
    background-size: 40%;
    padding: 20px;
  }

  body {
    width: 70%;
    min-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    border: 4px solid #07b2d3;
  }

  #tools {
    font-size: 18px;
  }
  
  
  nav ul {
    width: 100%;
  }
  
  #hero-image {
    width: 60%;
  }
  
  .hero-text {
    left: 15%;
    top: 5%;
    font-size: 1.3vw;
  }

  .hero-text p {
    margin-bottom: 20px;
  }
  
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .delorean-reviews {
    grid-area: 1 / 2 ;
  }

  .copyright {
    text-align: left;
    padding-top: 50px;
  }
  .error-link {
    justify-content: left;
  }

  .upgrade-cards-container div img {
    height: 100px;
    width: 150px;    
  }



  /* INVENTORY DISPLAY */
  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    
  }

  .vehicle-content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .vehicle-content img {
    width: 100%;
    /* padding-top: 20px; */
    
  }

  .vehicle-details {
    font-size: 1.0em;
  }
  .vehicle-details span {
    font-size: 1.15em;
    background-color: #06bfe4c1;
    padding: 8px;
  }


  /* FORM BOX */
  .form-box {
    margin: 40px auto;
  }
  .management {
    margin: 40px auto;
  }

  

  /* MESSAGE VIEW */
  

  /* INBOX MESSAGE TABLE */
  .message-list {
    font-size: medium;
    max-width: 800px;
  }


}

